body {
  text-align: center;
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.65;
}
header {
  padding: 30px 15px;
  background: black;
}

#titolo {
  background-image: url("../images/banner.jpg");
  padding: 30px 15px;
}

h1 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1;
  font-size: 35px;
}

#titolo div {
  margin: 20px;
}

#titolo p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

button {
  padding: 4px 7px;
  background-color: #f04c2f;
  font-family: "Montserrat(bold)", sans-serif;
  font-weight: bold;
  border-radius: 8px;
  color: white;
  padding: 15px 30px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1;
  font-size: 1.2rem;
  margin: 20px;
}

#carrellata {
  margin-top: 20px;
}
.titoletti {
  margin: 20px;
}
#notebook {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#banner {
  background-color: #f04c2f;
  color: white;
  font-family: "Montserrat(bold)", sans-serif;
  font-weight: bold;
  padding: 20px;
  font-size: 1.1rem;
}

#banner h2 {
  margin: 10px;
  font-size: 30px;
}
#banner div {
  margin: 10px;
}

.card {
  margin: 25px;
  padding: 10px;
}
.card img {
  width: 350px;
  height: 200px;
}

.card h5 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1;
  margin: 10px;
}
